/* ---------------------------------------------------------- */
/**************** QWidget ****************/
/* ---------------------------------------------------------- */

QWidget
{
	border: 1px solid transparent;
	color: #FFFFFF;
	background-color: #9E9E9E;
}

/* ---------------------------------------------------------- */
/**************** QTabWidget *****************/
/* ---------------------------------------------------------- */

QTabWidget::pane
{
	border: 1px solid #606060;
	border-radius: 2;
	color: #BABABA;
}

QTabWidget::tab-bar
{
	border: 1px solid #606060;
	border-radius: 2;
	padding: 20;
}

QTabBar::tab
{
	color: #FFFFFF;
	background-color: #606060;
}

QTabBar::tab:hover
{
	color: #707070;
}

QTabBar::tab:selected
{
	border: 1px solid #008080;
	color: #FFFFFF;
	background-color: #606060;
}

QTabBar::tab:!selected
{
	color: #909090;
}

/* ---------------------------------------------------------- */
/**************** QProgressBar *****************/
/* ---------------------------------------------------------- */

QProgressBar
{
	border: none;
	text-align: center;
	color: #FFFFFF;
}


/* ---------------------------------------------------------- */
/**************** QCheckBox ****************/
/* ---------------------------------------------------------- */

QCheckBox
{
	padding: 5px;
	color  : #F0F0F0;
}

QCheckBox::indicator:checked
{
	border          : none;
	
	width           : 25px;
	height          : 25px;
	
	background-repeat: no-repeat;
    background-position: left;
	background-image: url(:/themes/gray/common/checkbox_checked.png);
}

QCheckBox::indicator:unchecked
{
	border          : none;
	
	width           : 25px;
	height          : 25px;
	
	background-repeat: no-repeat;
    background-position: left;
	background-image: url(:/themes/gray/common/checkbox_unchecked.png);
}

/* ---------------------------------------------------------- */
/**************** QMenu ****************/
/* ---------------------------------------------------------- */

QMenu
{
	border: none;
	border-radius: 2;
}

QMenu::item
{
	color: #E0E0E0;
	background-color: 707070;
}

QMenu::item:selected
{
	color: #FFFFFF;
	background-color: #808080;
}

/* ---------------------------------------------------------- */
/*************** QPushButton **************/
/* ---------------------------------------------------------- */

QPushButton
{
	border: none;
	border-radius: 2;
	color: #d1d1d1;
	background: #858585;
	font-weight: bold;
	margin: 1;
	padding: 10;
}

QPushButton:disabled
{
	border: none;
	color: #808080;
	background: #626262;
}

QPushButton:hover
{
	color: #FFFFFF;
	background: #959595;
}


/* ---------------------------------------------------------- */
/************* QCalendarWidget *************/
/* ---------------------------------------------------------- */

QCalendarWidget QWidget
{
	background-color: #606060;               /* Цвет фона всего календаря */
	alternate-background-color: #606060; /* Цвет фона ячеек названий дней недели */
}

QCalendarWidget QAbstractItemView
{
	font-size: 14px;  /* Размер шрифта дней и названий дней недели */
	
	border: none; /* Рамка вокруг всех всех дней без заголовка */

    color                     : #FFFFFF;  /* Цвет текста дней и названия дней недели */
	background-color          : #808080;  /* Цвет фона дней календаря */
	alternate-background-color: #707070;  /* Цвет фона горизонтального и вертикального заголовков */
	selection-color           : #FFFFFF;  /* Цвет текста выбранного дня */
	selection-background-color: #606060;  /* Цвет фона выбранного дня */
}

QCalendarWidget QAbstractItemView:disabled 
{ 
	color: #606060; 
}

/* Стилизация заголовка календаря */
QCalendarWidget QToolButton
 {
	border               : none;
	padding             : 5px;
	color                  : #FFFFFF; /* Цвет текста кнопок в заголовке */
	background-color: #606060; /* Цвет фона кнопок в заголовке */
}

/* Стилизация кнопки предыдущего месяца в заголовке календаря */
QCalendarWidget QToolButton#qt_calendar_prevmonth
{
    image: url(:/themes/gray/calendar/prev_month.png);
	qproperty-icon: none;
	qproperty-iconSize: 20px;
}

/* Стилизация кнопки предыдущего месяца в заголовке календаря при наведении */
QCalendarWidget QToolButton#qt_calendar_prevmonth:hover
{
    image: url(:/themes/gray/calendar/prev_month_hover.png);
}

/* Стилизация кнопки следующего месяца в заголовке календаря */
QCalendarWidget QToolButton#qt_calendar_nextmonth
{
	image: url(:/themes/gray/calendar/next_month.png);
	qproperty-icon: none;
	qproperty-iconSize: 20px;
}

/* Стилизация кнопки следующего месяца в заголовке календаря при наведении */
QCalendarWidget QToolButton#qt_calendar_nextmonth:hover
{
	image: url(:/themes/gray/calendar/next_month_hover.png);
}

/* ---------------------------------------------------------- */
/**************** QToolBox *****************/
/* ---------------------------------------------------------- */

QToolBox
{
	border: none;
	font-size: 14px;
}

QToolBox::tab
 {
	border: none;
	border-radius: 1;

	color: #D1D1D1;
	background-color: #707070;
}

QToolBox::tab:selected
{
	color: #E1E1E1;
	background-color: #909090;
}

QToolBox::tab:hover
{
	color: #FFFFFF;
	background-color: #808080;
}

QToolBox::tab:selected:hover
{
	color: #FFFFFF;
}

QToolBox QScrollArea {
	border: 1px solid #808080;
	border-radius: 4px;
}

/* ---------------------------------------------------------- */
/*************** QListWidget ****************/
/* ---------------------------------------------------------- */

QListView
{
	border          : 1px solid #808080;
	border-radius: 1;
	font-size       : 14px;
	padding: 10;
}

QListView::item:enabled
{
	
	border: none;
	color: #D0D0D0;
	background: #808080;
	margin-top: 3;
	padding: 2;
	
}

QListView::item:disabled
{
	color: #808080;
	background: #626262;
}

QListView::item:hover
{
	color          : #FFFFFF;
	background: #909090;	
}

QListView::item:selected
{
	color          : #FFFFFF;
	background: #909090;	
}

/* ---------------------------------------------------------- */
/*************** QGroupBox ****************/
/* ---------------------------------------------------------- */

QGroupBox
{
	border       : 1px solid #707070;
	border-radius: 2;
	margin-top   : 8px;
	font-size    : 12px;
	font-weight  : bold;
	
}

QGroupBox::title
{
    subcontrol-origin  : margin;
    subcontrol-position: top center;
    padding            : 0 5px;	
	color              : #F0F0F0;
}

/* ---------------------------------------------------------- */
/*************** QComboBox ****************/
/* ---------------------------------------------------------- */

QComboBox {

	border: none;
	
	color: #E0E0E0;
	background-color: #707070;

	selection-color: #FFFFFF;

	padding-left : 4px;
	padding-right: 4px;

	font-size: 14px;
}

QComboBox QAbstractItemView {

	border: none;

	color: #E0E0E0;
	background-color: #707070;
	
  
	selection-color: #FFFFFF;
	selection-background-color: #808080;

	padding: 10;
}

QComboBox:hover {
	color: #FFFFFF;
 	background-color: #808080;
}

QComboBox::drop-down
{
	subcontrol-origin: padding;
	subcontrol-position: top right;
	width: 35px;

	image-position: right;
	image: url(:/themes/gray/common/combo_down.png);
}

QComboBox::down-arrow
{
	subcontrol-origin: padding;
	subcontrol-position: top right;
	width: 35px;
}

QComboBox::indicator {
	subcontrol-origin: padding;
	subcontrol-position: top right;
	width: 35px;
}

/* ---------------------------------------------------------- */
/***************** QLabel ******************/
/* ---------------------------------------------------------- */

QLabel
{
	border: none;
	border-radius: 1;
	color: #FFFFFF;
	background-color: #909090;
	padding: 5;
	font-size: 12px;
}

/* ---------------------------------------------------------- */
/**************** QTimeEdit ****************/
/* ---------------------------------------------------------- */

/* Стилизация QTimeEdit, QDateEdit */
QTimeEdit, QDateEdit
{
	border: none;
	border-radius: 2;
	color: #202020;
	background-color: #E0E0E0;
	padding: 3 10 3 10;
	font-size: 13px;
}

QTimeEdit:disabled, QDateEdit:disabled
{
	border: none;
	border-radius: 2;
	color: #909090;
	background-color: #C0C0C0;
	padding: 3 10 3 10;
	font-size: 13px;
}

/* Стилизация QTimeEdit, QDateEdit при получении фокуса */
QTimeEdit:focus, QDateEdit:focus
{
	color: #000000;
	background-color: #FFFFFF;
}
 	
/* Стилизация QTimeEdit, QDateEdit при наведении */
QTimeEdit:hover, QDateEdit:hover
{
	color: #000000;
	background-color: #FFFFFF;
}

/* ---------------------------------------------------------- */
/**************** QLineEdit ****************/
/* ---------------------------------------------------------- */

QLineEdit
{
	border: none;
	border-radius: 2;
	color: #202020;
	background-color: #E0E0E0;
	padding: 3 10 3 10;
	font-size: 12px;
}

QLineEdit:disabled
{
	border: none;
	border-radius: 2;
	color: #909090;
	background-color: #C0C0C0;
	padding: 3 10 3 10;
	font-size: 13px;
}

/* ---------------------------------------------------------- */
/**************** QTextEdit ****************/
/* ---------------------------------------------------------- */

QTextEdit
{
	border: none;
	border-radius: 2;
	color: #000000;
	background-color: #E0E0E0;
	font-size: 14px;
}

/* ---------------------------------------------------------------------------- */
/************* Стилизация объектов по имени *************/
/* ---------------------------------------------------------------------------- */

QPushButton#SalaryButton
{
	text-align: left;
	padding-left: 60;
	background-repeat: no-repeat;
    background-position: left;
	background-image: url(:/themes/gray/menu/money.png);
}

QPushButton#SalaryButton:hover
{
	background-repeat: no-repeat;
    background-position: left;
	background-image: url(:/themes/gray/menu/money_hover.png);
}

QPushButton#TableTimeButton
{
	text-align: left;
	padding-left: 60;
	background-repeat: no-repeat;
    background-position: left;
	background-image: url(:/themes/gray/menu/table_time.png);
}

QPushButton#TableTimeButton:hover
{
	background-repeat: no-repeat;
    background-position: left;
	background-image: url(:/themes/gray/menu/table_time_hover.png);
}

QPushButton#ScheduleButton
{
	text-align: left;
	padding-left: 60;
	background-repeat: no-repeat;
    background-position: left;
	background-image: url(:/themes/gray/menu/schedule.png);
}

QPushButton#ScheduleButton:hover
{
	background-repeat: no-repeat;
    background-position: left;
	background-image: url(:/themes/gray/menu/schedule_hover.png);
}

QPushButton#SeveralDaysButton
{
	text-align: left;
	padding-left: 60;
	background-repeat: no-repeat;
    background-position: left;
	background-image: url(:/themes/gray/menu/several_days.png);
}

QPushButton#SeveralDaysButton:hover
{
	background-repeat: no-repeat;
    background-position: left;
	background-image: url(:/themes/gray/menu/several_days_hover.png);
}

QPushButton#SettingsButton
{
	text-align: left;
	padding-left: 60;
	background-repeat: no-repeat;
    background-position: left;
	background-image: url(:/themes/gray/menu/settings.png);
}

QPushButton#SettingsButton:hover
{
	background-repeat: no-repeat;
    background-position: left;
	background-image: url(:/themes/gray/menu/settings_hover.png);
}

QPushButton#UpdateWorkTimeButton
{
	text-align: left;
	padding-left: 60;
	background-repeat: no-repeat;
    background-position: left;
	background-image: url(:/themes/gray/menu/update.png);
}

QPushButton#UpdateWorkTimeButton:hover
{
	background-repeat: no-repeat;
    background-position: left;
	background-image: url(:/themes/gray/menu/update_hover.png);
}

QPushButton#ChangesButton
{
	text-align: left;
	padding-left: 60;
	background-repeat: no-repeat;
    background-position: left;
	background-image: url(:/themes/gray/menu/info.png);
}

QPushButton#ChangesButton:hover
{
	text-align: left;
	padding-left: 60;
	background-repeat: no-repeat;
    background-position: left;
	background-image: url(:/themes/gray/menu/info_hover.png);
}

QPushButton#MenuButton
{
	text-align: left;
	padding-left: 60;
	background-repeat: no-repeat;
    background-position: center;
	background-image: url(:/themes/dark/common/menu.png);
}

QPushButton#MenuButton:hover
{
	background-repeat: no-repeat;
    background-position: center;
	background-image: url(:/themes/gray/common/menu_hover.png);
}

QPushButton#StopTimeButton
{
	background-repeat: no-repeat;
    background-position: center;
	background-image: url(:/themes/gray/common/pause.png);
}

QPushButton#StopTimeButton:hover
{
	background-repeat: no-repeat;
    background-position: center;
	background-image: url(:/themes/gray/common/pause_hover.png);
}

QPushButton#RunTimeButton
{
	background-repeat: no-repeat;
    background-position: center;
	background-image: url(:/themes/gray/common/play.png);
}

QPushButton#RunTimeButton:hover
{
	background-repeat: no-repeat;
    background-position: center;
	background-image: url(:/themes/gray/common/play_hover.png);
}

QPushButton#TodayButton
{
	border: none;
}

QLabel#ReverseTimer
{
	font-size: 24px;
	background: transparent;
}